:root {
  --width: 50%;
  --max-width: 800px;
}

* {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  box-sizing: border-box;
}

textarea,
input {
  border-radius: 10px;
  border: solid 1px grey;
  resize: none;
  width: 100%;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  font-size: large;
  overflow-inline: auto;
  overflow-y: auto;
}

button {
  background: rgb(0, 191, 255);
  border: 0px transparent;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  font-size: medium;
  user-select: none;
}

button:hover {
  background: rgb(163, 163, 163);
}

header {
  background: rgb(210, 210, 210);
  padding: 10px;
  font-size: small;
  padding: 20px;
}

h1,
h2,
h3 {
  margin: 0px;
  user-select: none;
}

h2 {
  padding-bottom: 10px;
}

i {
  text-align: right;
}

i:hover {
  font-weight: bold;
}

.timestamp {
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: left;
}

.updated {
  color: rgb(255, 75, 75);
  padding-bottom: 10px;
  font-style: italic;
}

.updated::not(empty)::before {
  content: "updated: ";
}

.post-head {
  display: flex;
  justify-content: space-between; /*puts max space between items*/
  align-items: center;
}

.post-text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: large;
}

.post-text:not(empty)::before {
  content: "\201C";
  font-size: xx-large;
  padding: 10px;
}

.post-text:not(empty)::after {
  content: "\201D";
  font-size: xx-large;
  padding: 10px;
}

.post {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 15px auto;
  width: 100%;
  min-height: 100px;
  background: rgb(255, 200, 200);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post:hover {
  border: 2px solid black;
  cursor: pointer;
}

#feed {
  padding: 20px;
  min-height: 25vh;
  width: var(--width);
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}

#form {
  padding: 20px;
  background: rgb(210, 210, 210);
}

#myForm {
  width: var(--width);
  max-width: var(--max-width);
  margin: 0 auto;
}
